.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
*.log
.env
.env.*
venv
.venv
README.md
LICENSE

# ⚠️ Telegram Session Files
*.session
*.session-journal

# IDE & OS Files
.idea
.vscode
.DS_Store
Thumbs.db

# Bot Specific
restart.txt
downloads/
